@model MyAdvert.Core.ViewModels.NavigationMenuViewModel

<a class="btn btn-block @(Model.CurrentCategoryId == 0 ? "btn-primary" : "btn-secondary")"
   asp-action="Adverts"
   asp-controller="Advert"
   asp-route-categoryId="0">
    wszystkie kategorie
</a>

@if(ViewBag.SelectedCategory == null)
{
    ViewBag.SelectedCategory = 0;
}

@foreach (var category in Model.Categories)
{
    <a class="btn btn-block @(category.Id == Model.CurrentCategoryId ? "btn-primary" : "btn-secondary")"
       asp-action="Adverts"
       asp-controller="Advert"
       asp-route-categoryId="@category.Id"
       asp-route-currentPage="1">
        @category.Name
    </a>
}

